<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="tv" class="ex04.springcontainer.di.constructor.LgTV">
		<constructor-arg ref="apple"></constructor-arg>
		<constructor-arg value="500000"></constructor-arg>
	</bean>
	<bean id="sony" class="ex04.springcontainer.di.constructor.SonySpeaker"></bean>
	<bean id="apple" class="ex04.springcontainer.di.constructor.AppleSpeaker"></bean>
</beans>
<!-- 스프링에서 작업을 시킬 파일 -->